.photo-grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  justify-content: center;
  gap: 16px 16px;
  margin: 0 auto;
  padding: 80px 0 0;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(284px, 1fr));
    gap: 14px 14px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(284px, 1fr));
    width: calc(100% - 2 * 24px);
    gap: 16px 16px;
  }
}

@media screen and (max-width: 584px) {
  .photo-grid {
    grid-template-columns: repeat(1, minmax(284px, 1fr));
    width: calc(100% - 2 * 16px);
    row-gap: 12px;
  }
}