.places {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0 0;
}

@media screen and (max-width: 1152px) {
  .places {
    max-width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 984px) {
  .places {
    padding-top: 88px;
    max-width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 544px) {
  .places {
    padding-top: 64px;
    max-width: 100%;
  }
}