.lead {
  display: flex;
  max-width: 984px;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 56px 0 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 48px;
  }
}